:root {
  --vuerd-theme-canvas: #fdf6e3;
  --vuerd-theme-table: #eee8d5;
  --vuerd-theme-table-active: #657b83;
  --vuerd-theme-focus: #657b83;
  --vuerd-theme-key-pk: #b4b400;
  --vuerd-theme-key-fk: #dda8b1;
  --vuerd-theme-key-pfk: #60b9c4;
  --vuerd-theme-font: #586e75;
  --vuerd-theme-font-active: #000000;
  --vuerd-theme-font-placeholder: rgba(88, 110, 117, 0.67);
  --vuerd-theme-contextmenu: #eee8d5;
  --vuerd-theme-contextmenu-active: #dfca88;
  --vuerd-theme-edit: #ffc107;
  --vuerd-theme-column-select: #dfca88;
  --vuerd-theme-column-active: rgb(223, 202, 136);
  --vuerd-theme-minimap-shadow: #a8a8a8;
  --vuerd-theme-scrollbar-thumb: rgba(100, 100, 100, 0.4);
  --vuerd-theme-scrollbar-thumb-active: rgba(100, 100, 100, 0.7);
  --vuerd-theme-menubar: #ddd6c1;
  --vuerd-theme-visualization: #fdf6e3;
}
