.DS_Store
node_modules
dist
coverage
docs
storybook-static
docker/**/data
types
.turbo
*.vsix
build
.docusaurus
.cache-loader

packages/vscode-extension/public

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea

.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.nx