:root {
  --vuerd-theme-canvas: #000c18;
  --vuerd-theme-table: #060621;
  --vuerd-theme-table-active: #ddbb88;
  --vuerd-theme-focus: #ddbb88;
  --vuerd-theme-key-pk: #b4b400;
  --vuerd-theme-key-fk: #dda8b1;
  --vuerd-theme-key-pfk: #60b9c4;
  --vuerd-theme-font: #cccccc;
  --vuerd-theme-font-active: #ffffff;
  --vuerd-theme-font-placeholder: rgba(204, 204, 204, 0.5);
  --vuerd-theme-contextmenu: #181f2f;
  --vuerd-theme-contextmenu-active: #08286b;
  --vuerd-theme-edit: #ffc107;
  --vuerd-theme-column-select: #08286b;
  --vuerd-theme-column-active: #061940;
  --vuerd-theme-minimap-shadow: #000000;
  --vuerd-theme-scrollbar-thumb: rgba(31, 34, 48, 0.67);
  --vuerd-theme-scrollbar-thumb-active: rgba(59, 63, 81, 0.53);
  --vuerd-theme-menubar: #051336;
  --vuerd-theme-visualization: #000c18;
}
