:root {
  --vuerd-theme-canvas: #002b36;
  --vuerd-theme-table: #00212b;
  --vuerd-theme-table-active: #d30102;
  --vuerd-theme-focus: #d30102;
  --vuerd-theme-key-pk: #b4b400;
  --vuerd-theme-key-fk: #dda8b1;
  --vuerd-theme-key-pfk: #60b9c4;
  --vuerd-theme-font: #93a1a1;
  --vuerd-theme-font-active: #ffffff;
  --vuerd-theme-font-placeholder: rgba(147, 161, 161, 0.67);
  --vuerd-theme-contextmenu: #00212b;
  --vuerd-theme-contextmenu-active: #005a6f;
  --vuerd-theme-edit: #ffc107;
  --vuerd-theme-column-select: #005a6f;
  --vuerd-theme-column-active: rgb(0, 68, 84);
  --vuerd-theme-minimap-shadow: #000000;
  --vuerd-theme-scrollbar-thumb: rgba(121, 121, 121, 0.4);
  --vuerd-theme-scrollbar-thumb-active: rgba(100, 100, 100, 0.7);
  --vuerd-theme-menubar: #003847;
  --vuerd-theme-visualization: #002b36;
}
