:root {
  --vuerd-theme-canvas: #1e1e1e;
  --vuerd-theme-table: #272727;
  --vuerd-theme-table-active: #c07020;
  --vuerd-theme-focus: #c07020;
  --vuerd-theme-key-pk: #b4b400;
  --vuerd-theme-key-fk: #dda8b1;
  --vuerd-theme-key-pfk: #60b9c4;
  --vuerd-theme-font: #cccccc;
  --vuerd-theme-font-active: #ffffff;
  --vuerd-theme-font-placeholder: rgba(204, 204, 204, 0.5);
  --vuerd-theme-contextmenu: #272727;
  --vuerd-theme-contextmenu-active: #707070;
  --vuerd-theme-edit: #ffc107;
  --vuerd-theme-column-select: #707070;
  --vuerd-theme-column-active: #444444;
  --vuerd-theme-minimap-shadow: #000000;
  --vuerd-theme-scrollbar-thumb: rgba(121, 121, 121, 0.4);
  --vuerd-theme-scrollbar-thumb-active: rgba(100, 100, 100, 0.7);
  --vuerd-theme-menubar: #353535;
  --vuerd-theme-visualization: #1e1e1e;
}
