$color-canvas: #282828;
$color-table: #191919;
$color-table-active: #14496d;
$color-focus: #00a9ff;
$color-key-pk: #B4B400;
$color-key-fk: #dda8b1;
$color-key-pfk: #60b9c4;
$color-font: #a2a2a2;
$color-font-active: white;
$color-font-placeholder: #6D6D6D;
$color-contextmenu-active: #383d41;
$color-button-close: #9B0005;
$color-button-add: #009B2E;
$color-opacity: #fff0;
$color-edit: #ffc107;
$color-column-selected: #232a2f;
$color-column-active: #372908;
