$size-font: 11px;
$size-table-header-height: 30px;
$size-table-padding: 10px;
$size-margin-right: 5px;
$size-margin-bottom: 3px;
$size-border-bottom: 1.5px;
$size-memo-padding: 10px;
$size-sash: 5px;
$size-column-close: 7px;
$size-key: 12px;
$size-top-menu-height: 30px;
$size-option-width: 20px;
$size-scrollbar: 8px;
