:root {
  --vuerd-theme-canvas: #282c34;
  --vuerd-theme-table: #21252b;
  --vuerd-theme-table-active: #528bff;
  --vuerd-theme-focus: #528bff;
  --vuerd-theme-key-pk: #b4b400;
  --vuerd-theme-key-fk: #dda8b1;
  --vuerd-theme-key-pfk: #60b9c4;
  --vuerd-theme-font: #cccccc;
  --vuerd-theme-font-active: #ffffff;
  --vuerd-theme-font-placeholder: rgba(204, 204, 204, 0.5);
  --vuerd-theme-contextmenu: #21252b;
  --vuerd-theme-contextmenu-active: #2c313a;
  --vuerd-theme-edit: #ffc107;
  --vuerd-theme-column-select: #2c313a;
  --vuerd-theme-column-active: #292d35;
  --vuerd-theme-minimap-shadow: #000000;
  --vuerd-theme-scrollbar-thumb: rgba(78, 86, 102, 0.38);
  --vuerd-theme-scrollbar-thumb-active: rgba(90, 99, 117, 0.5);
  --vuerd-theme-menubar: #21252b;
  --vuerd-theme-visualization: #282c34;
}
